<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <ResultsDirectory>c:\Test\Results</ResultsDirectory>
    <TargetPlatform>X86</TargetPlatform>
    <MaxCpuCount>1</MaxCpuCount>
    <BatchSize>10</BatchSize>
    <TestSessionTimeout>21600000</TestSessionTimeout>
    <DesignMode>False</DesignMode>
    <InIsolation>False</InIsolation>
    <CollectSourceInformation>False</CollectSourceInformation>
    <DisableAppDomain>False</DisableAppDomain>
    <DisableParallelization>True</DisableParallelization>
    <TargetFrameworkVersion>.NETFramework,Version=v4.0</TargetFrameworkVersion>
    <ExecutionThreadApartmentState>STA</ExecutionThreadApartmentState>
    <TestAdaptersPaths>C:\Users\calvinh\Source\repos\Validation</TestAdaptersPaths>
    <TreatTestAdapterErrorsAsWarnings>False</TreatTestAdapterErrorsAsWarnings>
  </RunConfiguration>
  <TestConfiguration>
    <TestStores>
      <TestStore Uri="file:///C:/Users/calvinh/Source/repos/PerfGraphVSIX" />
    </TestStores>
    <TestContainers>
      <TestContainer FileName="LeakTestDatacollectorBin.dll" />
    </TestContainers>
    <TestCaseFilter>FullyQualifiedName=LeakTestDatacollector.DataCollectorStressTestsManualIter.DCStressOpenCloseSolution</TestCaseFilter>
    <TestIterations>1</TestIterations>
    <EnableWarmupIteration>false</EnableWarmupIteration>
  </TestConfiguration>
  <VisualStudioConfiguration>
    <InstallationUnderTest>
      <Components All="false" />
      <Workloads All="false" IncludeComponents="Required" />
      <Languages />
    </InstallationUnderTest>
  </VisualStudioConfiguration>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector uri="datacollector://microsoft/DevDiv/TestExtensions/AttachmentCollector/v1" friendlyName="Attachment Collector" enabled="True">
        <Configuration>
          <Sources>
            <DirectorySource Path="%windir%/microsoft.net\framework\v4.0.30319" Sinks="DirectorySink" Scopes="Session" NewFilesOnly="false">
              <IncludeFiles Pattern="ngen*.log" />
            </DirectorySource>
          </Sources>
          <Sinks>
            <DirectorySink Name="DirectorySink" Path="c:\Test\Logs\Attachments" />
          </Sinks>
          <Deployment PackageName="Microsoft.DevDiv.TestExtensions.AttachmentCollector" />
        </Configuration>
      </DataCollector>
      <DataCollector uri="datacollector://microsoft/DevDiv/TestExtensions/ProcDumpCollector/v1" friendlyName="ProcDump Collector" enabled="True">
        <Configuration>
          <RootDumpDirectory>C:\Test\Logs\Dumps</RootDumpDirectory>
          <Deployment PackageName="Microsoft.DevDiv.TestExtensions.ProcDumpCollector" />
        </Configuration>
      </DataCollector>
      <DataCollector uri="datacollector://microsoft/DevDiv/TestExtensions/StressDataCollector/v1" friendlyName="StressData Collector" enabled="True">
        <Configuration>
          <!--<Deployment PackageName="Microsoft.DevDiv.TestExtensions.StressDataCollector" />-->
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
  <InProcDataCollectionRunSettings>
    <InProcDataCollectors />
  </InProcDataCollectionRunSettings>
  <LoggerRunSettings>
    <Loggers>
      <Logger friendlyName="TRX" uri="logger://microsoft/TestPlatform/TrxLogger/v1" enabled="True" />
    </Loggers>
  </LoggerRunSettings>
  <TestRunParameters />
  <MSTest>
    <MapInconclusiveToFailed>True</MapInconclusiveToFailed>
    <AssemblyResolution>
      <!---->
      <Directory path="%VISUALSTUDIO_INSTALLATIONUNDERTEST_PATH%" includeSubDirectories="true" />
      <!---->
      <Directory path="%VisualStudio.InstallationUnderTest.Path%" includeSubDirectories="true" />
    </AssemblyResolution>
  </MSTest>
</RunSettings>